name: Selenium Test Execution

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      suite:
        description: "Choose which suite to run manually"
        required: true
        default: "all"
        type: choice
        options:
          - smoke
          - regression
          - all
jobs:

  smoke:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install ChromeDriver
        uses: nanasess/setup-chromedriver@v2

      - name: Run SMOKE Tests
        run: |
          if [ "${{ github.event.inputs.suite }}" = "regression" ]; then
            echo "Skipping smoke (manual regression selected)"
          else
            mvn clean test -Dgroups=smoke -Dchrome.options="--headless=new --no-sandbox --disable-gpu --disable-dev-shm-usage"
          fi

      - name: Upload Smoke Reports
        uses: actions/upload-artifact@v4
        with:
          name: smoke-report
          path: reports/

  regression:
    needs: smoke
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.suite == 'all' || github.event.inputs.suite == 'regression' || github.event_name != 'workflow_dispatch' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install ChromeDriver
        uses: nanasess/setup-chromedriver@v2

      - name: Run REGRESSION Tests
        run: mvn clean test -Dgroups=regression -Dchrome.options="--headless=new --no-sandbox --disable-gpu --disable-dev-shm-usage"

      - name: Upload Regression Reports
        uses: actions/upload-artifact@v4
        with:
          name: regression-report
          path: reports/
